{% extends "layout.html" %}

{% block body %}
<table>
  <tr>
    <td>Ingredients what you can use, if there isn't a ingredient you need, please add.</td>
  </tr>
  {% for ingredient in ingredients %}
  <tr>
    <td>
      <a href="{{ url_for('singredient_index', ingredient_id=ingredient.id) }}">{{ ingredient.name }}</a>
    </td>
    <td>
      <form method="POST" action="{{ url_for('ingredients_delete', ingredient_id=ingredient.id) }}">
        <input type="submit" value="Delete" />
      </form>
    </td>
  </tr>
  {% endfor %}
</table>
{% endblock %}