{% extends "layout.html" %}

{% block body %}
<table>
    <tr>
        <td>List of added recipes</td>
    </tr>
    {% for recipe in recipes %}
    <tr>
        <td>
            <a href="{{ url_for('recipes_view', recipe_id=recipe.id) }}">{{ recipe.name }}</a>
        </td>
        <td>
                <form method="POST" action="{{ url_for('recipe_update_redirect', recipe_id=recipe.id) }}">
                    <input type="submit" value="Update" />
                </form>
            </td>
        <td>
            <form method="POST" action="{{ url_for('recipe_delete', recipe_id=recipe.id) }}">
                <input type="submit" value="Delete" />
            </form>
        </td>
    </tr>
    {% endfor %}
</table>
{% endblock %}